langchain_community==0.4.2
langchain_core==1.4.9
langchain_google_genai==4.2.7
langchain_huggingface==1.2.2
langchain_mistralai==1.1.6
langchain_text_splitters==1.1.2
langchain-chroma
chromadb
pypdf
pydantic==2.13.4
python-dotenv==1.2.2
streamlit==1.58.0
tavily-python
langchain-tavily